.Sidebar
{
    max-width: 280px;
    
    /* background-color: lightgreen; */
    padding: 0 1em;
    background-color: black;
    color:white;
    fill:white;

}
.Sidebar > h1
{
    padding-left: 18px;
    margin-bottom: 36px;
    letter-spacing: 1px;
}
.navOptionsList
{
    padding: 0;
    /* padding-left: 16px; */
    width: max-content;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


.tweetBtn
{
    all:unset;
    background-color: var(--accent-color);
    color: white;
    border-radius: 100px;
    width: 80%;
    text-align: center;
    padding: 12px 10px;
    font-weight: 700;
    cursor: pointer;
}
.tweetBtn:hover
{
    background-color: var(--accent-color-2);
}