@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    width: 100vw;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#root {
    height: 100%;
}
:root {
    --accent-color: rgb(29, 161, 242);
    --accent-color-2: hsl(158, 72, 42);
    --accent-color-2-50: hsla(158, 72, 42, 0.95);
    --accent-color-2-100: hsla(158, 72, 42, 0.9);
    --accent-color-2-200: hsla(158, 72, 42, 0.8);
    --accent-color-2-300: hsla(158, 72, 42, 0.7);
    --accent-color-2-400: hsla(158, 72, 42, 0.6);
    --accent-color-2-500: hsla(158, 72, 42, 0.5);
    --accent-color-2-600: hsla(158, 72, 42, 0.4);
    --accent-color-2-700: hsla(158, 72, 42, 0.3);
    --accent-color-2-800: hsla(158, 72, 42, 0.2);
    --accent-color-2-900: hsla(158, 72, 42, 0.1);
}
